<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--import properties -->
    <properties resource="db.properties"/>

    <!--alias entity class-->
    <typeAliases>
        <package name="com.jay.pojo"/>
    </typeAliases>

    <environments default="test">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/mybatis?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>

    </environments>

    <mappers>
        <mapper resource="com/jay/mapper/TeacherMapper.xml"/>
        <mapper resource="com/jay/mapper/StudentMapper.xml"/>
        <!--        <mapper class="com.jay.mapper.TeacherMapper"/>-->
        <!--        <mapper class="com.jay.mapper.StudentMapper"/>-->
    </mappers>
</configuration>