<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
       T object = new T();
       Hello hello = new Hello();
       id == instance
       class == T
       property == set property in instance
       -->
    <bean id="hello" class="com.jay.pojo.Hello">
        <property name="str" value="Spring"/>
    </bean>

</beans>