<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jay.mapper.TeacherMapper">

    <select id="getTeacher" resultType="teacher">
        select * from mybatis.teacher where id=#{tid}
    </select>
</mapper>