<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jay.mapper.UserMapper">

    <resultMap id="UserMap" type="User">
        <!-- column <==> database  -->
        <!-- property <==> pojo class field-->

        <result column="pwd" property="password"/>
    </resultMap>

    <select id="getUserById" resultMap="UserMap">
        SELECT * FROM mybatis.user WHERE id = #{id}
    </select>

    <select id="getUserByLimit" parameterType="map" resultMap="UserMap">
        SELECT * FROM mybatis.user LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="getUserByRowBounds" resultMap="UserMap">
        SELECT * FROM mybatis.user
    </select>

</mapper>